*{
    padding: 0px;
    margin: 0px;
    border: none;
}

body{
    background-color: rgb(133, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.calculator{
    border: 5px solid rgb(48, 103, 87);
    width: 400px;
    height: 480px;
    padding: 15px;
    border-radius: 25px;
}

.display{
    height: 150px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border-radius: 20px;
}

.buttons{
    width: 100%;
}

button{
    height: 50px;
    width: 80px;
    border-radius: 15px;
}

.starting_row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.Second_row{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.third_row, .fourth_row {
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 10px;
    /* background-color: rgb(121, 203, 96); */
}
.horizontal_rows{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    flex-direction: column;
}
.middle{
    display: flex;
    justify-content: space-evenly;
}
.last_row{
    display: flex;
    justify-content: space-evenly;
}


#Clr_btn{
    height: 50px;
    width: 163px;;
}


#plus_btn{
    width: 80px;
    height: 90%;
}